<section id="about" class="about" *ngIf="about_us">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About US</h2>
            <p>About US</p>
        </div>
        <div class="row">
            <h5 [innerHTML]="about_us.content"></h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">Vision</th>
                        <th scope="col">Purpose</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{about_us.mission}}</td>
                        <td>{{about_us.purpose}}</td>
                        <td>{{about_us.vision}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>