<div class="toolbar" role="banner">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a routerLink="">Gp<span>.</span></a></h1>
      <nav class="navbar navbar-expand-sm navbar-light">
        <!-- <a class="navbar-brand" href="#">Brand/Logo</a> -->
        <button class="navbar-toggler display_hamburger" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon display_hamburger"></span>
        </button>
      
        <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let myRoute of myRoutes; let i = index" [class.active]="selectedIndex === i" (click)="setIndex(i)">
              <a class="nav-link display_link" routerLink="{{ myRoute.url }}">{{ myRoute.name }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- End Header -->
</div>
<router-outlet></router-outlet>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6" *ngIf="contact_us_content">
          <div class="footer-info">
            <h3>Gp<span>.</span></h3>
            <p>
              {{contact_us_content.location}} <br>
              <strong>Phone:</strong> {{contact_us_content.contact_no}}<br>
              <strong>Email:</strong> {{contact_us_content.email}}<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li *ngFor="let myRoute of myRoutes">
              <i class="bx bx-chevron-right"></i><a [routerLink]="myRoute.url">{{myRoute.name}}</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li *ngFor="let service of services">
              <i class="bx bx-chevron-right"></i> <a routerLink="/service">{{service.serviceName}}</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->