<section id="hero" class="d-flex align-items-center justify-content-center" *ngIf="homeObj">
  <ngb-carousel *ngIf="this.homeObj.banner_image_path">
    <ng-template ngbSlide *ngFor="let img_name of this.homeObj.banner_image_path">
      <img [src]="image_path_server+img_name" alt="Random first slide" width="100%">
      <div class="carousel-caption">
        <h1>{{homeObj.name}}<span>.</span></h1>
        <h2>{{homeObj.our_vision}}</h2>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>{{homeObj.name}}<span>.</span></h1>
        <h2>{{homeObj.our_vision}}</h2>
      </div>
    </div>
    <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div class="col-xl-2 col-md-4 col-6" *ngFor="let service of services">
        <div class="icon-box">
          <i class="ri-store-line"></i>
          <h3><a href="">{{service.serviceName}}</a></h3>
        </div>
      </div>
    </div>
  </div> -->
</section>
<div class="row mt-5 justify-content-center" class="padding_disp" *ngIf="homeObj">
  <h5>{{homeObj.banner_message}}</h5>
</div>