<section id="hero" class="d-flex align-items-center justify-content-center" *ngIf="homeObj">
  <ngb-carousel *ngIf="this.homeObj.banner_image_path">
    <ng-template ngbSlide *ngFor="let img_name of this.homeObj.banner_image_path">
      <img [src]="image_path_server+img_name" alt="Random first slide" class="image_customization" width="100%">
      <div class="carousel-caption">
        <h1>{{homeObj.name}}</h1>
        <h2>{{homeObj.our_vision}}</h2>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<div class="row mt-5 justify-content-center" class="padding_disp" *ngIf="homeObj">
  <h5>{{homeObj.banner_message}}</h5>
</div>